@import "tailwindcss";

:root {
    color-scheme: dark;
}

html {
    font-family: "Be Vietnam Pro", sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    @apply bg-gray-950;
    overflow-x: hidden;
}

.scroll-target {
    scroll-margin-top: 80px;
}

@theme {
    --animate-cursor: cursor-blink 1s infinite;

    @keyframes cursor-blink {
        50% {
            opacity: 0;
        }
    }

    --aspect-landscape: 3 / 2;
}