.pink-br {
    background-image: radial-gradient(at bottom right,
            rgba(236, 72, 153, 0.2) 30%,
            rgba(236, 72, 153, 0.1),
            rgb(3 7 18));
    transition: 300ms;
}

.pink-br:hover {
    box-shadow: rgba(236, 72, 153, 0.15) 0px 0px 32px;
}

.pink-tl {
    background-image: radial-gradient(at top left,
            rgba(236, 72, 153, 0.2) 30%,
            rgba(236, 72, 153, 0.1),
            rgb(3 7 18));
    transition: 300ms;
}

.pink-tl:hover {
    box-shadow: rgba(236, 72, 153, 0.15) 0px 0px 32px;
}

.blue-bl {
    background-image: radial-gradient(at bottom left,
            rgba(14, 165, 233, 0.2) 30%,
            rgba(14, 165, 233, 0.1),
            rgb(3 7 18));
    transition: 300ms;
}

.blue-bl:hover {
    box-shadow: rgba(14, 165, 233, 0.15) 0px 0px 32px;
}

.blue-tr {
    background-image: radial-gradient(at top right,
            rgba(14, 165, 233, 0.2) 30%,
            rgba(14, 165, 233, 0.1),
            rgb(3 7 18));
    transition: 300ms;
}

.blue-tr:hover {
    box-shadow: rgba(14, 165, 233, 0.15) 0px 0px 32px;
}