---
import Layout from "@layouts/Layout.astro";
import Header from "@components/aboutMe/Header.astro";
import Hobbies from "@components/aboutMe/Hobbies.astro";
import Personality from "@components/react/aboutMe/Personality";
import Studies from "@components/aboutMe/Studies.astro";
import ContactMe from "@components/home/ContactMe.astro";
---

<Layout title="<nizvan />">
    <div
        class="flex flex-col items-center gap-48 mt-16 pb-16 w-full max-w-[1200px]"
    >
        <Header />

        <Hobbies />

        <Personality client:idle />

        <Studies />

        <ContactMe />
    </div>
</Layout>
