---
import Layout from "../layouts/Layout.astro";
---

<Layout title="<nizvan />">
	<main class="flex flex-col items-start mt-24">
		<h1 class="text-[120px] font-bold">Hola mundo</h1>
		<p class="text-lg">Este es mi primer texto</p>
		<span class="text-lg font-thin">Este es un span chikito</span>
	</main>
</Layout>
