---
import Layout from "../layouts/Layout.astro";
import Header from "@components/home/Header.astro";
---

<Layout title="<nizvan />">
	<section class="flex flex-col items-start mt-16">
		<Header />
	</section>
</Layout>
