---
import Layout from "../layouts/Layout.astro";
import Header from "@components/home/Header.astro";
---

<Layout title="<nizvan />">
	<main class="flex flex-col items-start mt-16">
		<Header />
	</main>
</Layout>
