---
import GitHubIcon from "./icons/GitHubIcon.astro";
import InstagramIcon from "./icons/InstagramIcon.astro";
---

<footer
    class="flex justify-center w-full px-8 bg-gray-950 border-t border-gray-100/20"
>
    <div class="flex w-full max-w-[1200px] py-12 px-8">
        <a
            href="/"
            class="text-nowrap py-4 pr-8 border-r border-gray-100/20 text-2xl font-bold"
            >&lt;n /&gt;</a
        >
        <div class="flex flex-col justify-center gap-2 w-full h-full pl-8">
            <div class="flex gap-4 text-xs font-semibold text-white">
                <a href="" class="opacity-50 duration-300 hover:opacity-100"
                    >Sobre mí</a
                >
                <a href="" class="opacity-50 duration-300 hover:opacity-100"
                    >Esta plantilla</a
                >
                <a href="" class="opacity-50 duration-300 hover:opacity-100"
                    >Próximamente</a
                >
            </div>
            <span class="text-xs font-light text-white/50"
                >2024. Diseñado y desarrollado por nizvan_dev</span
            >
        </div>
        <div class="flex flex-col justify-center gap-2 h-full">
            <div class="flex gap-4 text-xs font-semibold text-white">
                <a
                    href="https://www.instagram.com/nizvan_dev/"
                    target="_blank"
                    rel="noopener noreferer"
                >
                    <InstagramIcon
                        width={18}
                        height={18}
                        className="opacity-50 duration-300 hover:opacity-100"
                    />
                </a>
                <a
                    href="https://github.com/Nizvan018"
                    target="_blank"
                    rel="noopener noreferer"
                >
                    <GitHubIcon
                        width={18}
                        height={18}
                        className="opacity-50 duration-300 hover:opacity-100"
                    />
                </a>
            </div>
            <span
                class="text-xs font-semibold opacity-50 duration-300 hover:opacity-100"
                >nizvan.dev@gmail.com</span
            >
        </div>
    </div>
</footer>
