<nav
    id="navbar"
    class="fixed z-50 top-0 flex justify-center w-full h-16 px-8 border-b border-transparent duration-500"
>
    <div
        class="flex items-center justify-between gap-12 w-full max-w-[1200px] h-full"
    >
        <a href="/" class="font-bold text-lg min-w-[120px]"> &lt;n /&gt; </a>
        <div class="flex justify-center gap-6 w-full text-sm">
            <a class="opacity-50 duration-200 hover:opacity-100" href="/about"
                >Sobre mí</a
            >
            <a
                class="opacity-50 duration-200 hover:opacity-100"
                href="/template">Esta plantilla</a
            >
            <a
                class="opacity-50 duration-200 hover:opacity-100"
                href="/unizverse">Próximamente</a
            >
        </div>
        <div class="w-[120px]">
            <a
                href=""
                class="py-3 px-4 rounded-full text-sm text-black font-semibold duration-300 bg-white hover:shadow-lg hover:bg-white/90"
                >Contáctame</a
            >
        </div>
    </div>
</nav>

<script>
    window.addEventListener("scroll", function () {
        const navbar = document.getElementById("navbar");

        if (!navbar) {
            return;
        }

        if (window.scrollY > 100) {
            navbar.classList.add(
                "bg-gray-950/90",
                "backdrop-blur-xl",
                "border-gray-100/20",
            );
            navbar.classList.remove("bg-transparent", "border-transparent");
        } else {
            navbar.classList.add("bg-transparent", "border-transparent");
            navbar.classList.remove(
                "bg-gray-950/90",
                "backdrop-blur-xl",
                "border-gray-100/20",
            );
        }
    });
</script>
