<div
    class="w-full flex flex-col gap-4 text-sm px-8 py-4 border-b border-gray-100/20 bg-gray-950/80 backdrop-blur-md"
>
    <a class="opacity-50 duration-200 hover:opacity-100" href="/about"
        >Sobre mí</a
    >
    <a class="opacity-50 duration-200 hover:opacity-100" href="/template"
        >Esta plantilla</a
    >
    <a class="opacity-50 duration-200 hover:opacity-100" href="/unizverse"
        >Próximamente</a
    >
</div>
